body {
    background: linear-gradient(to left,lightBlue,rgb(218, 235, 241));
  }
  #snow{
      background: none;
      font-family: Androgyne;
      background-image: url('./asset/snowflake.png'), url('./asset/snowflake1.png'), url('./asset/snowflake2.png');
      background-size: 500px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index:1;
      animation: snow 1000s linear infinite;
      transform: translate3d(0,0,0);
  }
  @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
  }
  
.first-button {
    background-color: rgb(216, 246, 246);
    color: rgb(52, 8, 211);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    width: 300px;
    height: 50px;
    position: absolute;
    top: 360px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(119, 117, 117);
}

.hoverCat1 {
    position: absolute;
    display: none;
    /* vị trí gốc ở (0,0)*/  
}

#first-button :hover .hoverCat1{
  display: block ;
}

@keyframes changeColorButton {
  0%{
    background-color: rgb(216, 246, 246);
    width: 300px;
    height: 50px;
    font-size: 15px;
  }
  100%{
    background-color: whitesmoke;
    width: 350px;
    height: 60px;
    font-size: 20px;
  }
}

@keyframes changeBackColorButton {
  0%{
    background-color: whitesmoke;
    width: 350px;
    height: 60px;
    font-size: 20px;
  }
  100%{
    background-color: rgb(216, 246, 246);
    width: 300px;
    height: 50px;
    font-size: 15px;
  }
}
#first-button :hover .first-button {
  animation: changeColorButton;
  animation-duration: 0.5s;
  background-color: whitesmoke;
  width: 350px;
  height: 60px;
  font-size: 20px;
}

#first-button :not(:hover) .first-button {
  animation: changeBackColorButton;
  animation-duration: 0.5s;
  background-color: rgb(216, 246, 246);
  width: 300px;
  height: 50px;
  font-size: 15px;
}

.hoverCat1 #cuteCat1 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}
.hoverCat1 #bubble1 {
  position: absolute;
  bottom:100px;
  left: 200px;
  animation: fadeInBottomLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

@keyframes changeButtonAfterClick1 {
  0%{
    background-color: rgb(216, 246, 246);
    width: 300px;
    height: 50px;
  }
  100%{
    background-color: whitesmoke;
    width: 500px;
    height: 60px;
  }
}

#first-button :active .first-button {
  animation: changeButtonAfterClick1 1s;
  width: 500px;
  height: 60px;

}

#second-button .second-button {
  background-color: rgb(216, 246, 246);
  color: rgb(52, 8, 211);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1000;
  width: 400px;
  height: 50px;
  position: absolute;
  top: 80px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(119, 117, 117);
}

#second-button {
  display: none;
}
@keyframes myZoomIn {
  0%{
    background-color: rgb(216, 246, 246);
    width: 100px;
    height: 12.5px;
    font-size: 10px;
  }
  100%{
    background-color: whitesmoke;
    width: 400px;
    height: 50px;
    font-size: 20px;
  }
}

#second-button .second-button {
  animation: myZoomIn 1s;
  font-size: 20px;
}

#second-button .inputText {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(167, 243, 220);
  width: 400px;
  height: 40px;
  font-size: 25px;
  border-radius: 10px;
  border-style: ridge;
  border-color: brown;
  animation: myComeOut 1s;
}

@keyframes myComeOut {
  0%{
    height: 0px;
    width: 0px;
    top: 500px;
    font-size: 10px;

  }
  100%{
    width: 400px;
    height: 40px;
    font-size: 20px;
  }
}

@keyframes oscillation {
  0%{
    transform: rotateZ(10deg);
  }
  50%{
    transform: rotateZ(-20deg);
  }
  100%{
    transform: rotateZ(10deg);
  }
}

#second-button .cat-point1 {
  position: absolute;
  top: 29%;
  left: 33%;
  animation: lightSpeedInLeft 1s, oscillation 2s 2s infinite;
}
#second-button .cat-point2 {
  position: absolute;
  top: 29%;
  left: 51%;
  animation: lightSpeedInRight 1s, oscillation 2s 2s infinite;
}

#second-button marquee.ridingBikeRabbit{
  position: absolute;
  top: 150px;
}
#second-button marquee.pikachu{
  position: absolute;
  top: 400px;
}
#second-button div.writeHere{
  --lineHeight: 50px;
  background-color: blueviolet;
  position: absolute;
  height: var(--lineHeight);
  width: 80px;
  right: 50%;
  transform: translateX(50%);
  top: 200px;
  text-align: center;
  line-height: var(--lineHeight);
  border-color: black;
  border-radius: 20px;
  border-style: dashed ;
  border-width: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  color: cornsilk;
  display: none;
 
}
 @keyframes myLeftComeOut {
    0%{
      left: 40vw;
      width: 10px;
      height: 10px;
      font-size: 0;
    }
    100%{
      left: 43vw;
      width: 80px;
      height: 50px;
      font-size: 15px;
    }
  }

  @keyframes myRightComeOut {
    0%{
      left: 60vw;
      width: 10px;
      height: 10px;
      font-size: 0;
    }
    100%{
      left: 43vw;
      width: 80px;
      height: 50px;
      font-size: 15px;
    }
  }

#second-button .cat-point1:hover + .writeHere{
  display: block;
  animation: myLeftComeOut 0.2s;
}
#second-button .cat-point2:hover + .writeHere{
  display: block;
  animation: myRightComeOut 0.2s;
}

#third-button1 {
  display: inline-block;
  position: absolute;
  z-index: 2;
  background-color: rgb(36, 14, 14);
  width: 500px;
  height: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(41, 4, 250);
  border-radius: 10px;
  top: 60%;
  right: 50%;
  transform: translateX(50%);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0px 20px 20px gray;
}
#third-button2 {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: rgb(36, 14, 14);
  width: 500px;
  height: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(41, 4, 250);
  border-radius: 10px;
  top: 60%;
  right: 50%;
  transform: translateX(50%);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0px 20px 20px gray;
}

@keyframes processing {
  0%{
    width: 0px;
  }
  20%{
    width: 200px;
  }
  50%{
    width: 300px;
  }
  70%{
    width: 400px;
  }
  100%{
    width: 500px;
  }
}
#third-button1 .speed {
  text-align: center;
  position: absolute;
  display: inline-block;
  background-color: rgb(105, 30, 197);
  line-height: 50px;
  animation: processing 8s;
  width: 500px;
  color: rgb(36, 14, 14);
}

#third-button2 .speed {
  text-align: center;
  position: absolute;
  display: inline-block;
  background-color: rgb(105, 30, 197);
  line-height: 50px;
  width: 500px;
  color: rgb(36, 14, 14);
  font-size: 30px;
}

#third-button {
  display: none;
}

.done {
  position: absolute;
  right: 10%;
  /* transform: translateX(50%); */
  top: 90px;
  width: 400px;
  height: 30px;
  font-weight: 700;
  border-radius: 20px;
  animation: tada 1s;
  background-color: chartreuse;
}

@keyframes myComeOut2 {
  0%{
    width: 0px;
  }
  100%{
    width: 300px;
  }
}
#fourth-button {
  display: none;
}
#fourth-button img {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  animation: myComeOut2 3s;
  top: 60px;
}

@keyframes myComeOut3 {
  0%{
    top: 550px;
  }
  100%{
    top: 300px;
  }
}

#fourth-button .wishes.w1{
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  right: 50%;
  transform: translateX(50%);
  animation: myComeOut3 3s;
  top: 300px;
}

@keyframes myComeOut4 {
  0%{
    top: 700px;
  }
  100%{
    top: 350px;
  }
}

#fourth-button .wishes.w2{
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  right: 50%;
  transform: translateX(50%);
  animation: myComeOut4 3s;
  top: 350px;
}




